/* TODO: Example 03 (Activity 4) CSS goes here */

body{
    width: 80%;
    margin: 0 auto 1rem;
    text-align: center;
    background-color: rgb(255, 228, 196);
}

.gallery{
    display: flex;
    border: 2px solid black;
    padding: .5rem;
    border-radius: 1rem;
    flex-flow: column nowrap;
    align-items: normal;
}

img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

div{
    flex: 1;
}

.gallery > .top{
    display: flex;
    flex-flow: row nowrap;
}

.gallery > .top > .left, .gallery > .top > .middle, .gallery > .top > .right {
    display: flex;
    flex-flow: column nowrap;
}

.image{
    margin: 5px;
}

.gallery > .top > .right > .top, .gallery > .top > .right > .bottom, .gallery > .top > .right > .middle {
    display: flex;
    flex-flow: row nowrap;
}

.gallery > .bottom {
    display: flex;
    flex-flow: row nowrap;
}